$body-bg: #000000;
$enable-responsive-font-sizes: true;

$info: #CC05FE;
$dark: #000000;
$secondary: #212529;

$grid-breakpoints: (
        xs: 0,
        sm: 600px,
        md: 800px,
        lg: 1000px,
        xl: 1600px
);

// This table defines the theme colors (variant names)
$theme-colors: () !default;
$theme-colors: map-merge(
                (
                        'info': $info,
                        'dark': $dark,
                        'secondary': $secondary
                ),
                $theme-colors
);


@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";



html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.head-text{
  color: #C4C4C4;
  text-transform: uppercase;
  font-weight: normal;
}

.common-text{
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: normal;

}

.footer{

}

.footerBorder{
  border: 1px solid #CC05FE;
  box-sizing: border-box;
}

video:focus{
  outline: none !important;
}
video{
  border-radius: 20px;
  overflow: hidden;
}
