$body-bg: #000000;

$info: #8b00fb;
$dark: #000000;
$secondary: #212529;

// This table defines the theme colors (variant names)
$theme-colors: () !default;
$theme-colors: map-merge(
                (
                        'info': $info,
                        'dark': $dark,
                        'secondary': $secondary
                ),
                $theme-colors
);


@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";

